vti_encoding:SR|utf8-nl
vti_author:SR|RIX2\\Rick
vti_modifiedby:SR|RIX2\\Rick
vti_timelastmodified:TR|16 Nov 2005 23:56:30 -0000
vti_timecreated:TR|19 Oct 2005 23:00:08 -0000
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|en/Effects.html en/HistoryWindow.html en/TitleBar.html en/Edit.html en/ColorsWindow.html en/Window.html en/Toolbar.html en/TextTool.html en/LayersWindow.html en/MainWindow.html en/MenuBar.html en/Features.html en/File.html en/Image.html en/StatusBar.html en/MoveTools.html en/ShapeTools.html en/RecolorTool.html en/Tools.html en/Help.html en/Layers.html en/RotateZoom.html en/KeyboardMouseCommands.html en/FAQ.html en/SystemRequirements.html en/Adjustments.html en/PixelTools.html en/LineCurve.html en/UnattendedInstallation.html en/WebLinks.html en/View.html en/pdn_help.dwt en/Levels.html en/ToolsWindow.html en/MagicWand.html en/Paintbrush.html en/License.html en/PaintBucket.html en/SelectionTools.html en/BrushTools.html en/index.html en/CloneStamp.html en/EraserTool.html
vti_nexttolasttimemodified:TW|16 Nov 2005 23:34:57 -0000
vti_syncwith_localhost\\\\\\rsa\\c$\\inetpub\\wwwroot\\pdntest\\help///rsa/c$/inetpub/wwwroot/pdntest/help:TR|16 Nov 2005 23:56:30 -0000
vti_cacheddtm:TX|16 Nov 2005 23:56:30 -0000
vti_filesize:IR|1206
